/* Group */
nav{
position: absolute;
left: 0%;
right: 81.21%;
top: 7.64%;
bottom: 15.97%;

box-shadow: inset 4px 4px 44px rgba(96, 96, 96, 0.15);


/* Vector */

position: absolute;
left: 3.62%;
right: 81.21%;
top: 16.96%;
bottom: 15.97%;

/* linear 1 */
background: linear-gradient(91.47deg, #DC3E88 18.25%, #B840AE 43.34%, #843FE8 78.18%);


/* Vector */

position: absolute;
left: 1.58%;
right: 98.19%;
top: 20.07%;
bottom: 77.18%;

/* linear 1 */
background: linear-gradient(91.47deg, #DC3E88 18.25%, #B840AE 43.34%, #843FE8 78.18%);


/* Vector */

position: absolute;
left: 1.41%;
right: 98.02%;
top: 25.58%;
bottom: 71.67%;

/* linear 1 */
background: linear-gradient(91.47deg, #DC3E88 18.25%, #B840AE 43.34%, #843FE8 78.18%);


/* Vector */

position: absolute;
left: 0.62%;
right: 99.27%;
top: 44.85%;
bottom: 52.39%;

/* linear 1 */
background: linear-gradient(91.47deg, #DC3E88 18.25%, #B840AE 43.34%, #843FE8 78.18%);


/* Vector */

position: absolute;
left: 0.85%;
right: 99.04%;
top: 44.85%;
bottom: 52.39%;

/* linear 1 */
background: linear-gradient(91.47deg, #DC3E88 18.25%, #B840AE 43.34%, #843FE8 78.18%);


/* Vector */

position: absolute;
left: 1.07%;
right: 98.81%;
top: 44.85%;
bottom: 52.39%;

/* linear 1 */
background: linear-gradient(91.47deg, #DC3E88 18.25%, #B840AE 43.34%, #843FE8 78.18%);


/* Vector */

position: absolute;
left: 1.3%;
right: 98.59%;
top: 44.85%;
bottom: 52.39%;

/* linear 1 */
background: linear-gradient(91.47deg, #DC3E88 18.25%, #B840AE 43.34%, #843FE8 78.18%);


/* Vector */

position: absolute;
left: 1.52%;
right: 98.36%;
top: 44.85%;
bottom: 52.39%;

/* linear 1 */
background: linear-gradient(91.47deg, #DC3E88 18.25%, #B840AE 43.34%, #843FE8 78.18%);


/* Vector */

position: absolute;
left: 1.75%;
right: 98.14%;
top: 44.85%;
bottom: 52.39%;

/* linear 1 */
background: linear-gradient(91.47deg, #DC3E88 18.25%, #B840AE 43.34%, #843FE8 78.18%);


/* Vector */

position: absolute;
left: 1.98%;
right: 97.91%;
top: 44.85%;
bottom: 52.39%;

/* linear 1 */
background: linear-gradient(91.47deg, #DC3E88 18.25%, #B840AE 43.34%, #843FE8 78.18%);


/* Vector */

position: absolute;
left: 2.2%;
right: 97.69%;
top: 44.85%;
bottom: 52.39%;

/* linear 1 */
background: linear-gradient(91.47deg, #DC3E88 18.25%, #B840AE 43.34%, #843FE8 78.18%);


/* Vector */

position: absolute;
left: 2.43%;
right: 97.46%;
top: 44.85%;
bottom: 52.39%;

/* linear 1 */
background: linear-gradient(91.47deg, #DC3E88 18.25%, #B840AE 43.34%, #843FE8 78.18%);


/* Vector */

position: absolute;
left: 2.65%;
right: 97.23%;
top: 44.85%;
bottom: 52.39%;

/* linear 1 */
background: linear-gradient(91.47deg, #DC3E88 18.25%, #B840AE 43.34%, #843FE8 78.18%);


/* Vector */

position: absolute;
left: 1.13%;
right: 98.76%;
top: 64.13%;
bottom: 33.11%;

/* linear 1 */
background: linear-gradient(91.47deg, #DC3E88 18.25%, #B840AE 43.34%, #843FE8 78.18%);


/* Vector */

position: absolute;
left: 1.81%;
right: 97.29%;
top: 53.12%;
bottom: 27.61%;

/* linear 1 */
background: linear-gradient(91.47deg, #DC3E88 18.25%, #B840AE 43.34%, #843FE8 78.18%);


/* Vector */

position: absolute;
left: 0%;
right: 96.61%;
top: 7.64%;
bottom: 16.59%;

/* linear 1 */
background: linear-gradient(91.47deg, #DC3E88 18.25%, #B840AE 43.34%, #843FE8 78.18%);
}